@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}


p,
a {
    font-size: 0.9rem;
    text-decoration: none;
    /* color: #000; */
}

a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

.main__container {
    width: 80%;
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
    background-color: rgb(243, 244, 246);
    border-radius: .5em;
}

.left__container {
    width: 35%;
    background-color: rgb(50, 59, 76);
    padding: 1.5em;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-top-left-radius: .5em;
}

.profile__container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /*	  overflow: hidden;*/
    align-self: center;
}

.profile__pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.contact__container {
    border-bottom: solid 1px #f1f5f8;
}

.left__container h2 {
    margin: 1em 0;
}

.address,
.email,
.phone {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .4em;
    display: flex;
    flex-direction: column;
    margin-bottom: .7em;
}

.major,
.institution {
    margin-top: .5em;
}

.startDate,
.endDate {
    font-size: .75rem;
}

p>span {
    font-size: .75rem;
}

.right__container {
    width: 65%;
    padding-top: 2em;
}

.summary {
    font-size: .8rem;
    max-width: 600px;
    opacity: .8;
    font-weight: 300;
    margin-top: 1.2em;
}